div.gifitoo-widget.gifitoo-button-wrapper {

    position: fixed;
    bottom: 27px;
    right: 27px;

    z-index: 100;

}

div.gifitoo-button-wrapper:after {

  content: "";
  display: block;
  clear: both;

}

a.gifitoo-button {

  width: 55px;
  height: 55px;
  padding: 11px;
  border: 0;
  border-radius: 10px;
  background-image: linear-gradient(0deg, #30d158 1%, #2cbf5b 100% );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;

  display: inline-block;
  float: right;

}

a.gifitoo-button svg {

  width: 31px;
  height: 31px;

}

a.gifitoo-button:focus {
  outline: none;
}

div.gifitoo-tooltip {

  position: relative;
  display: none;

  max-width: 165px;
  max-height: 45px;

  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 5px;

  float: left;

  font-size: 15px;
  line-height: 17px;
  text-align: center;
  padding: 6px;
  margin-top: 6px;
  margin-right: 16px;
  color: #333333;

}

div.gifitoo-tooltip span.angle {

  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateX(-50%);
  margin-top: -4px;

  width: 8px;
  height: 8px;

  background: #fff;
  transform: rotate(45deg);

}

div.gifitoo-tooltip a.close-button {

  position: absolute;
  right: -7.5px;
  top: -7.5px;

  width: 15px;
  height: 15px;

  border-radius: 100%;

  background: #f25a52;
  cursor: pointer;

  color: #fff;
  line-height: 10px;
  font-size: 22px;
  text-align: center;
  padding: 0 3px;

}

div.gifitoo-tooltip a.close-button:hover {
  text-decoration: none;
}

/*Fancybox*/
.fancybox-slide--iframe .fancybox-content {
	width  : 90vw;
	height : 95vh;
	max-width  : 90vw;
	max-height : 90vw;
	margin: 0;
}


@media screen and (max-width: 39.9375em) {
  .fancybox-slide--iframe .fancybox-content {
  	width  : 100vw;
  	height : 100vh;
  	max-width  : 100vw;
  	max-height : 100vh;
  	margin: 0;
  }
}
